
main{
    margin: 5%;
   width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

section {
    width: 300px;
    height:350px;
    margin: 0.5%;
    padding: 4%;
    padding-top: 0%;
}

img{
    width: 200px;
    height: 250px;

    
    
    /* padding: 5%; */
}

select{
    
    width: 150px;
    height: 35px;

}

footer {
    padding: 20px;
    clear: both;
    position: relative;
    height: 40px;
}
